/*
 * Copyright (c) 2024 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <st/wb0/stm32wb05_09.dtsi>

/ {
	soc {
		compatible = "st,stm32wb09", "st,stm32wb0", "simple-bus";

		flash: flash-controller@40001000 {
			flash0: flash@10040000 {
				reg = <0x10040000 DT_SIZE_K(512)>;
			};
		};

		/* STM32WB09-specific "TRNG v1.68" RNG IP */
		rng: rng@48600000 {
			compatible = "st,stm32wb09-rng";
			reg = <0x48600000 DT_SIZE_K(1)>;
			clocks = <&rcc STM32_CLOCK(AHB0, 18)>;
			//resets = <&rctl STM32_RESET(AHB0, 18)>;
			interrupts = <28 0>;
			status = "disabled";
		};
	};

	sram0: memory@20000000 {
		reg = <0x20000000 DT_SIZE_K(64)>;
	};
};
