/*
 * Copyright (c) 2024 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Device Tree fragment for RNG IP shared in STM32WB05, STM32WB06 and STM32WB07.
 *
 * STM32WB09 is the only MCU in STM32WB0x family to use a different RNG IP.
 * For that MCU, the RNG is defined in stm32wb09.dtsi directly instead.
 */

/ {
	soc {
/*
		rng: rng@48600000 {
			compatible = "st,stm32-rng";
			reg = <0x48600000 DT_SIZE_K(4)>;
			clocks = <&rcc STM32_CLOCK(AHB0, 18)>;
		//	resets = <&rctl STM32_RESET(AHB0, 18)>;
			status = "disabled";
		};
*/
	};
};
