# STMicroelectronics STM32WB05 MCU

# Copyright (c) 2024 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

if SOC_STM32WB05XX

# TODO: this is the number of NVIC user IRQ; is that correct?
config NUM_IRQS
	default 32

endif # SOC_STM32WB05XX
