# STMicroelectronics STM32W0 MCU series

# Copyright (c) 2024 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_STM32WB0
	select ARM
	select CPU_CORTEX_M0PLUS
	select CPU_CORTEX_M_HAS_VTOR
	select CPU_CORTEX_M_HAS_SYSTICK
	select CPU_HAS_ARM_MPU
	select HAS_STM32CUBE

	# WB0x has a ROM bootloader executed at reset,
	# which makes the following option required
	select INIT_ARCH_HW_AT_BOOT

if SOC_SERIES_STM32WB0

# SMPS configuration options (only enabled if SMPS is selected)
if !POWER_SUPPLY_LDO

# This is marked as `optional` to ensure the choice is made explicitly.
# Kconfig would otherwise automatically select one of the choices, something
# definitely unwanted. By marking `optional`, no symbol is selected instead,
# which we can detect to generate a compile-time error (done in `soc.c`).
choice SMPS_BOM_CHOICE
	bool "STM32WB0x SMPS L/C BOM selection"
	optional
	help
	  Selects the SMPS inductance/capacitance BOM implemented on
	  this board. Refer to RM0505 §5.5 "SMPS step down regulator"
	  for more details about the SMPS BOM.

config SMPS_BOM_1
	bool "1.5µH inductance, 2.2µF output capacitance"

config SMPS_BOM_2
	bool "2.2µH inductance, 4.7µF output capacitance"

config SMPS_BOM_3
	bool "10µH inductance, 4.7µF output capacitance"

endchoice

choice SMPS_DEEPSTOP_MODE
	bool "STM32WB0x SMPS mode in Deepstop state"
	default SMPS_DEEPSTOP_MODE_OPEN
	help
	  Selects SMPS mode when SoC is in Deepstop state.

config SMPS_DEEPSTOP_MODE_OPEN
	bool "SMPS disabled (floating output) in Deepstop"

config SMPS_DEEPSTOP_MODE_BYPASS
	bool "SMPS enabled (PRECHARGE/BYPASS mode) in Deepstop"

endchoice

choice SMPS_CURRENT_LIMIT_CHOICE
	bool "STM32WB0x SMPS current limit"
	depends on POWER_SUPPLY_SMPS_BYPASS_SUPPLIES_LDO
	default SMPS_CURRENT_LIMIT_20_MA
	help
	  Selects SMPS output current limit when operating in BYPASS mode.

config SMPS_CURRENT_LIMIT_2_5_MA
	bool "2.5mA"

config SMPS_CURRENT_LIMIT_5_MA
	bool "5mA"

config SMPS_CURRENT_LIMIT_10_MA
	bool "10mA"

config SMPS_CURRENT_LIMIT_20_MA
	bool "20mA"

endchoice

choice SMPS_OUTPUT_VOLTAGE_LEVEL_CHOICE
	prompt "STM32WB0x SMPS output voltage"
	depends on POWER_SUPPLY_SMPS_SUPPLIES_LDO
	default SMPS_OUTPUT_VOLTAGE_1_40V
	help
	  Selects SMPS output voltage when operating in ON mode.

	  WARNING: The SMPS output voltage "VSMPS" must be chosen to always
	  fullfill the following constraint:   (VBAT - VSMPS) >= 0.2V

config SMPS_OUTPUT_VOLTAGE_1_20V
	bool "1.20V"

config SMPS_OUTPUT_VOLTAGE_1_25V
	bool "1.25V"

config SMPS_OUTPUT_VOLTAGE_1_30V
	bool "1.30V"

config SMPS_OUTPUT_VOLTAGE_1_35V
	bool "1.35V"

config SMPS_OUTPUT_VOLTAGE_1_40V
	bool "1.40V"

config SMPS_OUTPUT_VOLTAGE_1_45V
	bool "1.45V"

config SMPS_OUTPUT_VOLTAGE_1_50V
	bool "1.50V"

config SMPS_OUTPUT_VOLTAGE_1_55V
	bool "1.55V"

config SMPS_OUTPUT_VOLTAGE_1_60V
	bool "1.60V"

config SMPS_OUTPUT_VOLTAGE_1_65V
	bool "1.65V"

config SMPS_OUTPUT_VOLTAGE_1_70V
	bool "1.70V"

config SMPS_OUTPUT_VOLTAGE_1_75V
	bool "1.75V"

config SMPS_OUTPUT_VOLTAGE_1_80V
	bool "1.80V"

config SMPS_OUTPUT_VOLTAGE_1_85V
	bool "1.85V"

config SMPS_OUTPUT_VOLTAGE_1_90V
	bool "1.90V"

config SMPS_OUTPUT_VOLTAGE_1_95V
	bool "1.95V"

endchoice

endif #if !POWER_SUPPLY_LDO

endif #if SOC_SERIES_STM32WB0
